@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");
/* Full width content custom & reset default width*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  main#content #product .row .col-xl-12 .mb-6,
  .tab-pane:not([itemprop="description"]),
  main#content #product .row .col-xl-12 .mx-md-6 {
    max-width: 540px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (min-width: 768px) {
  .container,
  main#content #product .row .col-xl-12 .mb-6,
  .tab-pane:not([itemprop="description"]),
  main#content #product .row .col-xl-12 .mx-md-6 {
    max-width: 720px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (min-width: 992px) {
  .container,
  main#content #product .row .col-xl-12 .mb-6,
  .tab-pane:not([itemprop="description"]),
  main#content #product .row .col-xl-12 .mx-md-6 {
    max-width: 960px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (min-width: 1200px) {
  .container,
  main#content #product .row .col-xl-12 .mb-6,
  .tab-pane:not([itemprop="description"]),
  main#content #product .row .col-xl-12 .mx-md-6 {
    max-width: 1200px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (min-width: 1480px) {
  .container,
  main#content #product .row .col-xl-12 .mb-6,
  .tab-pane:not([itemprop="description"]),
  main#content #product .row .col-xl-12 .mx-md-6 {
    max-width: 1430px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

main#content #product {
  max-width: none !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

main#content #product .row .col-xl-12 .col-12 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

main#content #product .row .col-xl-12 .mb-6 {
  margin: 0px auto;
}

main#content #product .row .col-xl-12 .mx-md-6 {
  margin: 0px auto;
}

.tab-pane:not([itemprop="description"]) {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin: 0px auto;
}

@media (min-width: 768px) {
  main#content #product .row .col-xl-12 .mx-md-6 ul {
    margin-right: 2.5rem !important;
    margin-left: 2.5rem !important;
  }
}

@media (max-width: 768px) {
  .container,
  main#content #product .row .col-xl-12 .mb-6,
  main#content #product .row .col-xl-12 .mx-md-6 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .tab-pane:not([itemprop="description"]) {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  main#content #product .row .col-xl-12 ~ .container {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

.grecaptcha-badge {
  display: none !important;
}

#prd-sets {
  display: none !important;
}

.set {
  margin: 0px !important;
}

.sections {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .sections {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}

.sections .section_container {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (min-width: 576px) {
  .sections .section_container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .sections .section_container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .sections .section_container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .sections .section_container {
    max-width: 1200px;
  }
}

@media (min-width: 1480px) {
  .sections .section_container {
    max-width: 1430px;
  }
}

.sections h3, .sections h4, .sections h5 {
  margin: 0px;
  font-family: 'Roboto';
  line-height: 1;
}

.sections span, .sections a {
  font-family: 'Roboto';
  line-height: 1.2;
}

.sections a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 18px;
}

.sections .section {
  height: auto;
  width: 100%;
  padding: 0px 0px 52px 0px;
}

.sections .section:not(:first-child) {
  padding: 40px 0px 52px 0px;
}

@media (max-width: 767.98px) {
  .sections .section {
    padding: 0px 0px 32px 0px;
  }
  .sections .section:not(:first-child) {
    padding: 20px 0px 32px 0px;
  }
}

.sections .section.section_nopadding {
  padding: 0px;
}

.sections .main_button {
  padding: 17px 60px;
  text-transform: uppercase;
  font-weight: 700;
}

.sections .background-main {
  background-color: #ffd403;
}

.sections .background-primary {
  background-color: #fff;
}

.sections .background-secondary {
  background-color: #070707;
}

.sections .color-main {
  color: #ffd403;
}

.sections .color-primary {
  color: #fff;
}

.sections .color-secondary {
  color: #070707;
}
