<!-- 

.color-primary and etc in h4 - edit title color;
.color-primary and etc in .characteristics_item - edit characteristics color;

    
 -->

<div class="characteristics_block section_container">
    <h4 class="color-secondary">Характеристики</h4>
    <div class="characteristics_text">
        <div class="characteristics_item color-secondary">
            <h5>Технологии</h5>
            <span>Bluetooth v5.1</span>
            <span>Зарядный прот Type-C</span>
            <span>Функция беспроводной зарядки</span>
            <span>Функция быстрой зарядки</span>
        </div>
        <div class="characteristics_item color-secondary">
            <h5>Автономность</h5>
            <span>Время прослушивания музыки: 5 часов</span>
            <span>Время телефонного разговора: 5 часов</span>
            <span>Время в режиме ожидания: 180 часов</span>
        </div>
        <div class="characteristics_item color-secondary">
            <h5>Аккумулятор</h5>
            <span>40 мАч в каждом наушнике</span>
            <span>Батарея зарядного кейса: 380мАч (встроенная защита IC)</span>
            <span>Время зарядки кейса: 1 час 20 минут</span>
            <span>Время зарядки наушников: 30 минут</span>
            <span>Зарядное напряжение: 4.2В</span>
        </div>
        <div class="characteristics_item color-secondary">
            <h5>Динамик</h5>
            <span>Рабочий беспроводной диапазон: 10 м</span>
            <span>Диаметр динамика: 6мм</span>
            <span>Частота: 20кГц - 20кГц</span>
        </div>
        <div class="characteristics_item color-secondary">
            <h5>Особенности</h5>
            <span>Два цветовых варианта</span>
            <span>Шумоподавление ENC</span>
            <span>4 MEMS микрофона</span>
        </div>
    </div>
</div>