<!-- Декор по желанию -->

<div class="feature_center_block feature_center_block_custom background-main">
    <img class="decor1" src="/image/catalog/webp/smart-watch-ukraine/images/decor1.svg">
    <div class="feature_center_block_content section_container">
        <img class="video" src="/image/catalog/webp/smart-watch-ukraine/images/video.svg">
        <h4 class="color-primary">Функция <strong>видеозвонка</strong></h4>
        <span class="color-primary">Особенностью Gelius GP-PK006 является функция видеовызова. В корпусе устройства встроена фронтальная камера, с помощью которой родители могут связаться с ребенком в любое время и увидеть, все ли в порядке. Смарт-часы также можно использовать и как фотокамеру.</span>
        <a class="feature_center_block_button background-other" onclick="getOCwizardModal_smca('3390','add_option');">ПОПРОБОВАТЬ</a>
    </div>
    <img class="decor2" src="/image/catalog/webp/smart-watch-ukraine/images/decor2.svg">
</div>