<!-- 

Картинка до 600x600 без рамок по сторонам;
Смена и добавление точек в scss файле, они абсолютно позиционированы.
    
 -->

<div class="image_and_dots_block section_container">
    <h4 class="color-secondary">Функциональные наушники</h4>
    <span class="image_and_dots_subtitle color-main">Со всем необходимым для современного меломана</span>
    <div class="image_and_dots_img">
        <div class="dot dot1">
            <div class="dot_indicator"><span>+</span></div>
            <div class="dot_feature"><span>Wireless Charging</span></div>
        </div>
        <div class="dot dot2">
            <div class="dot_indicator"><span>+</span></div>
            <div class="dot_feature"><span>Индикатор заряда</span></div>
        </div>
        <div class="dot dot3">
            <div class="dot_indicator"><span>+</span></div>
            <div class="dot_feature"><span>Сенсорный датчик</span></div>
        </div>
        <img src="/image/catalog/webp/maxbuds/images/imagedots.png">
        <div class="big_decore_dot"></div>
    </div>
</div>