<!-- change folder css file to project name on ftp -->

<link rel="stylesheet" href="https://media.gelius.ua/image/catalog/webp/landings/style.css">

<!-- html -->

<section class="landing_sections">

    <div class="land_section">
        <!-- block type 1 -->
        <span>hello1</span>
    </div>

    <div class="land_section">
        <!-- block type 2 -->
        <span>hello2</span>
    </div>

    <div class="land_section">
        <!-- block type 3 -->
        <span>hello3</span>
    </div>

</section>
