<!-- change folder css file to project name on ftp -->

<link rel="stylesheet" href="#">

<!-- html -->

<div class="sections">

    <section class="section section_animation">
        
        <div class="standard_block standard_block_photobackground background-photo-dark background-photo-fixed background_position_right">
            <div class="standart_content section_container color-primary">
                <h3 class="animate_view">AMAZWATCH GT2 LITE</h3>
                <span class="animate_view">Новое поколение с полностью переосмысленным функционалом</span>
                <a class="main_button background-main" href="#">Купить</a>
            </div>    
        </div>

    </section>

</div>
