<!-- 

.background-main,background-primary,background-secondary in .infographic_block_item - change background item.
.color-main,color-primary,color-secondary in span - change text color.
    
 -->

 <div class="infographic_block section_container">
    <div class="infographic_block_item background-secondary">
        <div class="infografic_block_item_icon background-main">
            <img src="/image/catalog/webp/gelius-template/images/watches-clock-svgrepo-com.svg">
        </div>
        <h5 class="color-primary">Дисплей 240x280</h5>
        <span class="color-primary">Модель GP-SW003 получила новый дисплей TFT 1,7', 240x280, его сенсор моментально реагирует на ваши движения, а размер позволяет помещать необходимые информационные виджеты на главный экран.</span>
    </div>
    <div class="infographic_block_item background-secondary">
        <div class="infografic_block_item_icon background-main">
            <img src="/image/catalog/webp/gelius-template/images/battery-with-full-charge-svgrepo-com.svg">
        </div>
        <h5 class="color-primary">Аккумулятор 190 мАч</h5>
        <span class="color-primary">Более недели использования без подзарядки: благодаря аккумулятору на 190 мАч забудьте про постоянную подзарядку. Возьмите ваше устройство в недельное путешествие и отслеживайте количество пройденных шагов и сожжённых калорий, подзаряжать смарт-часы при этом не понадобится.</span>
    </div>
    <div class="infographic_block_item background-secondary">
        <div class="infografic_block_item_icon background-main">
            <img src="/image/catalog/webp/gelius-template/images/map-gps-svgrepo-com.svg">
        </div>
        <h5 class="color-primary">AGPS</h5>
        <span class="color-primary">Гаджет поддерживает AGPS. Следите за локацией часов в режиме реального времени.</span>
    </div>
    <div class="infographic_block_item background-secondary">
        <div class="infografic_block_item_icon background-main">
            <img src="/image/catalog/webp/gelius-template/images/app-svgrepo-com.svg">
        </div>
        <h5 class="color-primary">Приложение для iOS и Android</h5>
        <span class="color-primary">Для владельцев iOS и Android предусмотрено бесплатное приложение DaFit. Модель поддерживает отображение уведомлений из Viber и Telegram. В приложении вы можете настроить получение уведомлений из необходимых мессенджеров.</span>
    </div>
</div>