<!-- 

.background-main,background-primary,background-secondary in .infographic_block_item - change background item.
.color-main,color-primary,color-secondary in span - change text color.
    
 -->

<div class="price_block section_container">
    <h4 class="color-secondary">ПОДБЕРИТЕ ЦВЕТ ДЛЯ СЕБЯ</h4>
    <div class="price_block_grid">
        <div class="price_block_item">
            <div class="price_block_item_photo">
                <a class="price_block_item_image" href="#"><img class="img-fluid" src="/image/catalog/webp/gelius-template/images/00000084885-17-400x400.jpg"></a>
            </div>
            <div class="price_block_item_info">
                <a href="#"><h5 class="color-secondary">Умные Часы Gelius Pro GP-SW003 (Amazwatch GT2 Lite) Black</h5></a>
                <a class="price_block_item_button background-main border-button-secondary" onclick="getOCwizardModal_smca('3136','add');" data-product_id="3136">КУПИТЬ</a>
            </div>
        </div>
    </div>
</div>