<div class="promo_block section_container">
    <div class="promo_block_text">
        <h2 class="color-secondary">Детские смарт часы</h2>
        <span class="color-secondary">Порадуйте ребенка современным гаджетом Gelius GP-PK006</span>
        <a class="promo_block_button background-main" onclick="getOCwizardModal_smca('3390','add_option');">Купить</a>
    </div>
    <div class="promo_block_image">
        <img class="animate_view" src="/image/catalog/webp/smart-watch-ukraine/images/promo.png">
    </div>
</div>