<!-- 

.color-main,color-primary,color-secondary - change text color.
.background-main, background-primary, background-secondary - change background element.
    
 -->

 <div class="set_block section_container">
    <h4 class="color-primary">ВМЕСТЕ ВЫГОДНО</h4>
    <div class="set set_block_items">
        <input type="hidden" id="all_sp_economy" name="sp_economy">
        <input type="hidden" id="all_sp_iset" name="sp_iset">
        <input type="hidden" id="all_sp_product_id" name="sp_product_id">

        <div class="set_block_products">

            <div class="set_block_product set-product">
                <input type="hidden" id="one_sp_cprice" name="sp_cprice">
                <input type="hidden" id="one_sp_option_price" name="sp_option_price">
                <input type="hidden" id="one_sp_product_id" name="sp_product_id">
                <input type="hidden" id="one_sp_quantity" name="sp_quantity">
                <input type="hidden" id="one_sp_option" name="sp_option">
                <div class="set_block_product_photo">
                    <div class="set_block_product_photo_price background-main">
                        <span id="oneProductPrice" class="color-primary"></span>
                    </div>
                    <img class="set_block_decor" src="/image/catalog/webp/gelius-template/images/decor3.png">
                    <a class="set_block_product_image" href="https://gelius.ua/amazwatch-gt2-lite-black/" target="_blank"><img class="img-fluid" src="/image/catalog/webp/gelius-template/images/set_black.png"></a>
                </div>
                <div class="set_block_product_info">
                    <a href="https://gelius.ua/amazwatch-gt2-lite-black/" target="_blank"><h5 class="color-primary">Умные Часы Gelius Pro GP-SW003 (Amazwatch GT2 Lite) Black</h5></a>
                </div>
            </div>


            <div class="set_block_product set-product">
                <input type="hidden" id="two_sp_cprice" name="sp_cprice">
                <input type="hidden" id="two_sp_option_price" name="sp_option_price">
                <input type="hidden" id="two_sp_product_id" name="sp_product_id">
                <input type="hidden" id="two_sp_quantity" name="sp_quantity">
                <input type="hidden" id="two_sp_option" name="sp_option">
                <div class="set_block_product_photo">
                    <div class="set_block_product_photo_price background-main">
                        <span id="twoProductPrice" class="color-primary"></span>
                    </div>
                    <img class="set_block_decor" src="/image/catalog/webp/gelius-template/images/decor4.png">
                    <a class="set_block_product_image" href="https://gelius.ua/strap-amazwatch-gt-2-lite-black/" target="_blank"><img class="img-fluid" src="/image/catalog/webp/gelius-template/images/set_black_2.png"></a>
                </div>
                <div class="set_block_product_info">
                    <a href="https://gelius.ua/strap-amazwatch-gt-2-lite-black/" target="_blank"><h5 class="color-primary">Ремешок для Умных Часов Gelius Pro GP-SW003 (Amazwatch GT2 Lite) Black</h5></a>
                </div>
            </div>


        </div>
        <div class="set_block_price">
            <span class="set_block_price_old color-primary"></span>
            <h5 id="final" class="color-main"></h5>
            <span id="economy_price" class="set_block_price_text color-main">Экономия</span>
            <button class="add-set-btn set_block_price_button background-main">Купить комплект</button>
        </div>
    </div>
</div>