<!-- 

    .background-photo-fixed in .standard_block - fix background in scroll;
    .background-photo-dark in .standard_block - darken the photo background;
    .background-main in a - change button background and text;
    .color-main or color-primary or color-secondary in .standart_content - change text color;
    .standard_block_photobackground in .standard_block - add photo background;
    
 -->

<div class="standard_block standard_block_photobackground">
    <div class="standart_content section_container color-primary">
        <h3>Title</h3>
        <span>Subtitle</span>
        <a class="main_button background-main" href="#">Button</a>
    </div>    
</div>