<!-- 

    .alternative-background in .text_content - removes the gap between blocks;
    .reverse in .text_content - swapping blocks (row);
    .reverse-mobile .text_content - swapping blocks in smartphone (column);
    .color-main,color-primary,color-secondary in .text_content_item - change text color.

    USE .text_content_item_image in image.

 -->

<div class="text_block">
    <div class="text_content section_container">
       <div class="text_content_item color-secondary">
            <h4>Lorem ipsum dolor</h4>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
       </div>
       <div class="text_content_item color-secondary">
           <img style="max-width:none;" class="text_content_item_image" src="/image/catalog/webp/gelius-template/images/500x500.jpg">
       </div>
    </div>    
</div>

<!-- 
Auxiliary elements.
Add after text in text_content_item.

.background-main,background-primary,background-secondary in .infografic_icon - change background round

-->

<!-- infografic -->

<div class="text_content_infografic">
    <div class="infografic_item">
        <div class="infografic_icon background-secondary">
            
        </div>
        <span>Ходьба</span>
    </div>
</div>

<!-- icons & images -->

<div class="text_content_infoimages">
    <img class="infoimage" src="/image/catalog/webp/gelius-template/images/Telegram_logo.svg">
    <img class="infoimage" src="/image/catalog/webp/gelius-template/images/Viber-Icon-Purple-Logo.wine.svg">
</div>

<!-- button 

.border-button-secondary - add border to button;

-->

<a class="text_content_button background-primary border-button-secondary" href="#">Купить</a>