#decor1{
    position:absolute;
    top:0;
    right: 80%;
    z-index:1;
}

#decor2{
    position:absolute;
    bottom:20%;
    left:65%;
    z-index:1;
}

#decor3{
    position:absolute;
    top:0;
    right: 50%;
    z-index:1;
}

#decor4{
    position:absolute;
    bottom:0;
    left:35%;
    z-index:1;
}

.infografic_icon{
    border: 2px solid $mainColor;
}

.infographic_block_item{
    border: 2px solid $mainColor;
}

.final_decor{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0px auto;
}

.standard_block_custom{
    min-height:300px;
}

.set_block_products{
    border:2px solid $mainColor;
    padding:15px;
}

.set_block_decor{
    position:absolute;
    z-index:1;
    top:0;
    bottom:0;
    right:0;
    left:0;
    max-width:100%;
    margin:auto;
}