.full_video_block{

    height:600px;
    position:relative;
    cursor:pointer;

    .full_video_block_info{
        z-index:4;
        position:absolute;
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:20px;
        margin:0px auto;
        left:0;
        right:0;

        h5{
            font-size:82px;
            font-weight: 900;
            z-index:2;
            transition: 0.3s all;

            @media (max-width:$breakpoint768){
                font-size:48px;
            }

            @media (max-width:$breakpoint400){
                font-size:32px;
            }

        }

        svg{
            height:120px;
            width:120px;
            text-align: center;
            transition: 0.3s all;

            @media (max-width:$breakpoint768){
                width:80px;
                height:80px;
            }

        }

    }

    .full_video_block_cover{
        position:absolute;
        top:0;
        left:0;
        z-index:3;
        width: 100%;
        height: 100%;
        background:$secondaryColor;
        opacity:0.5;
        transition: 0.3s all;

    }

    @media (max-width:$breakpoint1200){
        height:450px;
    }

        video{
            min-width: 100%;
            min-height: 100%;
            width: 100%;
            height: 600px;
            z-index: 2;
            object-fit: cover !important;

            @media (max-width:$breakpoint1200){
                height:450px;
            }

        }

        .full_video_block_desktop_video{
            @media (max-width:$breakpoint992) {
               display:none; 
            }
        }

        .full_video_block_mobile_tablet_video{
            @media (min-width:$breakpoint992) {
               display:none; 
            }
        }

        iframe{
            display:none;
            position: absolute;
            top: 0;
            z-index: 5;
        }


        &:hover{
            .full_video_block_cover{
                opacity:0.9;
            }

            h5{
                transform: scale(1.1);
            }

            svg{
                transform: scale(1.1);
            }

        }

}