//vars
$mainColor: #ffd403;
$primaryColor: #fff;
$secondaryColor: #070707;

$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint400: 399.98 + px;

//styles

.sections{
    width:100%;
    overflow: hidden;

    @media(max-width:$breakpoint992){

        padding-bottom: 4rem;
        padding-top: 4rem;

    }

    .section_container{
        width:100%;
        height:100%;
        padding-right:15px;
        padding-left:15px;
        margin-left:auto !important;margin-right:auto !important;
    
        //fix width with default breakpoints
    
        @media (min-width:576px){
            max-width:540px;
        }
        @media (min-width:768px){
            max-width:720px;
        }
        @media (min-width:992px){
            max-width:960px;
        }
        @media (min-width:1200px){
            max-width:1200px;
        }
        @media (min-width:1480px){
            max-width:1430px;
        }
    
    }

    h3,h4,h5{
        margin:0px;
        font-family: 'Roboto';
        line-height: 1;
    }

    span,a,button{
        font-family: 'Roboto';
        line-height: 1.2;
        font-weight: 300;
    }

    a{
        transition:all 0.3s;
        font-size:18px;
    }

    .section{
        height:auto;
        width:100%;
        padding:0px 0px 52px 0px;

        &:not(:first-child){
            padding:40px 0px 52px 0px;    
        }

        @media (max-width:$breakpoint768){
            padding:0px 0px 32px 0px;

            &:not(:first-child){
                padding:20px 0px 32px 0px;    
            }

        }
    
        &.section_nopadding{
            padding:0px;
        }
    }
    
    .main_button{
        padding:17px 60px;
        text-transform: uppercase;
        font-weight: 700;
    }


    .background-main{
        background-color:$mainColor;
    }

    .background-primary{
        background-color:$primaryColor;
    }

    .background-secondary{
        background-color:$secondaryColor;
    }

    .color-main{
        color:$mainColor;
    }

    .color-primary{
        color:$primaryColor;
    }

    .color-secondary{
        color:$secondaryColor;
    }

}