//vars
$mainColor: #ffd403;
$primaryColor: #fff;
$secondaryColor: #070707;
$otherColor: #f9f9f9;

//add black theme styles

$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint400: 399.98 + px;

//styles

.landing_sections{
    width:100%;
    overflow: hidden;

    h3,h4,h5{
        margin:0px;
        font-family: 'Roboto';
        line-height: 1;
    }

    span,a,button{
        font-family: 'Roboto';
        line-height: 1.2;
        font-weight: 300;
    }

    a{
        transition:all 0.3s;
        font-size:18px;
    }

    .land_section{
        height:auto;
        width:100%;
        padding:0px 0px 52px 0px;

        &:not(:first-child){
            padding:40px 0px 52px 0px;    
        }

        @media (max-width:$breakpoint768){
            padding:0px 0px 32px 0px;

            &:not(:first-child){
                padding:20px 0px 32px 0px;    
            }

        }
    
        &.section_nopadding{
            padding:0px;
        }
    }
    
    .main_button{
        padding:17px 60px;
        text-transform: uppercase;
        font-weight: 700;
    }


    .background-main{
        background-color:$mainColor;
    }

    .background-primary{
        background-color:$primaryColor;
    }

    .background-secondary{
        background-color:$secondaryColor;
    }

    .background-other{
        background-color:$otherColor;
    }

    .color-main{
        color:$mainColor;
    }

    .color-other{
        color:$otherColor;
    }

    .color-primary{
        color:$primaryColor;
    }

    .color-secondary{
        color:$secondaryColor;
    }

}