.promo_block{
    width: 100%;
    min-height:300px;
    height:auto; 
    display:flex;
    gap:20px;
    align-items: center;
    position: relative;

    @media(max-width:$breakpoint768){
        flex-direction: column;
        gap:32px;
    }

    .promo_block_text{
        width:40%;
        display:flex;
        flex-direction: column;

        @media(max-width:$breakpoint768){
            width:100%;
            align-items: center;
        }

        h2{
            margin:0px;
            padding:0px;
            width:fit-content;
            line-height: 1;
            font-family: "Roboto";
            font-weight: 900;
            font-size:82px;

            @media(max-width:$breakpoint992){
                font-size:64px;
            }

            @media(max-width:$breakpoint768){
                text-align: center;
                font-size: 48px !important;
            }

        }

        span{
            width:fit-content;
            margin-top:10px;
            font-family: "Roboto";
            font-weight: 700;
            font-size:24px;

            @media(max-width:$breakpoint768){
                text-align: center;
            }

        }

        .promo_block_button{
            width:300px;
            margin-top:20px;
            font-family: "Roboto";
            text-transform: uppercase;
            font-weight: 700;
            padding:17px 60px;
            color:#fff;
            display: flex;
            justify-content: center;
            align-items: center;

            @media(max-width:$breakpoint992){
                width:100%;
            }

            &:hover{
                color:#fff !important;
            }

            &.background-main{
                background-color: $mainColor;
                color:#fff;

                &:hover{
                   background-color: #113aa3;
                }

            }

            &.background-primary{
                background-color: $primaryColor;
                color:$mainColor;
            }

            &.background-secondary{
                background-color: $secondaryColor;
            }

        }

    }

    .promo_block_image{
        width:60%;

        @media(max-width:$breakpoint768){
            width:100%;
        }

    }

}