.set_block{

    display:flex;
    flex-direction: column;
    gap: 20px;

    h4{
        font-size:48px;
        margin-bottom:20px;
        z-index:2;

        @media (max-width:$breakpoint992){
            font-size:40px;
        }


        @media (max-width:$breakpoint768){
            font-size:36px;
            margin-bottom:10px;
        }

        @media (max-width:$breakpoint400){
            font-size:32px;
            margin-bottom:10px;
        }
    }

    .set_block_items{
        width:100%;
        display:flex;
        justify-content: space-between;
        gap:30px;

        @media (max-width: $breakpoint992){
            flex-direction: column;
        }

        .set_block_products{
            display:flex;
            gap:30px;
            width: 70%;

            @media (max-width: $breakpoint992){
                width: 100%;
                flex-direction: column;
            }

            .set_block_product{
                display:flex;
                flex-direction: column;
                align-items: center;

                .set_block_product_photo{
                    height:300px;
                    width:300px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    padding:15px;
                    position:relative;
        
                    .set_block_product_image{
                        height: 100%;
                        z-index:2;
    
                        img{
                            object-fit: cover;
                            height: 100%;
                            width: auto;
                            z-index:1;
                        }
    
                    }

                    .set_block_product_photo_price{

                        position: absolute;
                        z-index: 3;
                        left: 0;
                        top: 0;
                        padding: 10px 30px;

                        span{
                            font-weight:700;
                            font-size:18px;
                        } 
                    }
                }

                .set_block_product_info{
                    display:flex;
                    flex-direction: column;
                    gap:20px;
                    z-index:2;
                    padding:15px;
                    text-align: center;
    
                    h5{
                        font-size:24px;
                    }
                }

            }

        }

        .set_block_price{

            width:30%;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            text-align: center;

            @media (max-width: $breakpoint992){
                width: 100%;
            }

            .set_block_price_button{
                padding:17px;
                width:100%;
                text-transform: uppercase;
                font-weight: 700;
                z-index:2;
                text-align: center;

                &.background-secondary{
                    color:$primaryColor;
                }

                &.background-main{
                    color:$primaryColor;
                }

                &.border-button-secondary{
                    border:2px solid $secondaryColor;
                }

                &.border-button-main{
                    border:2px solid $mainColor;
                }
    
                &:hover{
                    background-color:$primaryColor;
                    color:$mainColor !important; 
                }
    
                @media (max-width:$breakpoint768){
                    width:100%;
                }
    
            }

            .set_block_price_old{
                font-size:18px;
                font-weight:700;
                position: relative;

                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    background-color: $mainColor;
                    transform: rotate(15deg);
                    top: 5px;
                }
            }

            h5{
                font-size:86px;
                font-weight: 900;

                @media (max-width: $breakpoint1200){
                    font-size:64px;
                }

                @media (max-width: $breakpoint768){
                    font-size:48px;
                }

            }

            .set_block_price_text{
                font-size:18px;
            }

        }


    }



}