$standartBackground: '/image/catalog/webp/gelius-template/images/wallpaper.jpg';

.standard_block{
    width: 100%;
    min-height:700px;
    height:auto; 
    display:flex;
    align-items: center;
    justify-content: center;

    &.standard_block_photobackground{
        background:url($standartBackground);
        background-position: center;
        background-size: cover;

        @media (min-width:$breakpoint768){
            &.background-photo-fixed {
                background-attachment: fixed;
            }
        }
    
        &.background-photo-dark {
            background-color: rgba(0,0,0,0.3);
            background-blend-mode: color;
        }

        &.background_position_right{
            background-position: right;
        }
    }
    
    .standart_content{
        display:flex;
        flex-direction: column;
        gap:30px;
        text-align: center;
        position:relative;

        h3{
            font-size:82px;
            font-weight: 900;
            z-index:2;

            @media (max-width:$breakpoint768){
                font-size:48px;
            }

            @media (max-width:$breakpoint400){
                font-size:32px;
            }

        }

        span{
            font-size:22px;
            font-weight: 700; 
            z-index:2;
            
            @media (max-width:$breakpoint768){
                font-size:18px;
            }
            
        }

        &.main-color{
            h3,
            span{
                color:$mainColor;
            }
        }

        &.primary-color{
            h3,
            span{
                color:$primaryColor;
            }
        }

        &.secondary-color{
            h3,
            span{
                color:$secondaryColor;
            }
        }

        a{
            width:fit-content;
            margin:0px auto;
            z-index:2;

            &.background-main{
                color:$primaryColor;
            }

            &.border-button-secondary{
                border:2px solid $secondaryColor;
            }

            &:hover{
                background-color:$primaryColor;
                color:$mainColor !important; 
            }

            @media (max-width:$breakpoint400){
                width:100%;
            }
        }

    }
}
