.text_block{
    width: 100%;
    min-height:300px;
    height:auto; 
    display:flex;
    
    .text_content{
        display:flex;
        gap:20px;

        &.alternative-background{
            gap:0px;
        }

        @media (max-width:$breakpoint768){
            flex-direction: column;
            gap:32px;
        }

        .text_content_item{
            width:50%;
            gap: 20px;
            display: flex;
            flex-direction: column;
            position:relative;

            @media (max-width:$breakpoint768){
                width:100%;
            }

            h4{
                font-size:48px;
                margin-bottom:20px;
                z-index:2;

                @media (max-width:$breakpoint992){
                    font-size:40px;
                }


                @media (max-width:$breakpoint768){
                    font-size:36px;
                    margin-bottom:10px;
                }

                @media (max-width:$breakpoint400){
                    font-size:32px;
                    margin-bottom:10px;
                }
            }

            span{
                font-size:18px;
                z-index:2;
            }

            .text_content_item_image{
                z-index:4;
                margin-top: auto;
            }

            img{
                width:fit-content;

                @media (max-width:$breakpoint768){
                    width:100%;
                }
            }

            &.color-main{
                color:$mainColor;
            }

            &.color-primary{
                color:$primaryColor;
            }

            &.color-secondary{
                color:$secondaryColor;
            }

            &.item-left{
                img{
                    align-self: flex-start; 
                }

            }
    
            &.item-right{

                @media(min-width:$breakpoint768){
                    h4,span{
                        text-align:right;
                    }
                }
                
                img{
                    align-self: flex-end; 
                }
                @media (max-width:$breakpoint768){
                    img{
                        align-self: flex-start; 
                    } 
                }
            }

            .text_content_infografic{
                z-index:2;
                display:flex;
                flex-wrap: wrap;
                gap:20px;
                align-items: flex-start;

                .infografic_item{
                    display:flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    gap:10px;
                    width: 100px;

                    .infografic_icon{
                        width:80px;
                        height:80px;
                        border-radius:100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg{
                            width: 50px;
                            height: 50px;
                            margin: auto;
                        }
                    }

                    span{
                        font-weight:700;
                        font-size:16px;
                        line-height:0.9;
                    }

                }

            }

            .text_content_infoimages{
                z-index:2;
                display:flex;
                flex-wrap: wrap;
                gap:20px;
                align-items: flex-start;

                .infoimage{
                    width:80px;
                }

            }

            .text_content_button{
                padding:17px 60px;
                text-transform: uppercase;
                font-weight: 700;
                z-index:2;
                width:fit-content;
                text-align: center;

                &.background-secondary{
                    color:$primaryColor;
                }

                &.background-main{
                    color:$primaryColor;
                }

                &.border-button-secondary{
                    border:2px solid $secondaryColor;
                }
    
                &:hover{
                    background-color:$primaryColor;
                    color:$mainColor !important; 
                }
    
                @media (max-width:$breakpoint768){
                    width:100%;
                }
    
            }

        }

        &.reverse{

            @media (min-width:$breakpoint768){
                flex-direction: row-reverse;

                .text_content_item{

                    &.item-right{
                
                        img{
                            align-self: flex-start; 
                        }

                        h4,span:not(.infografic_item span){
                            text-align:left;
                        }

                        .text_content_infografic{
                            justify-content: flex-start;
                        }

                        .text_content_infoimages{
                            justify-content: flex-start;
                        }

                    }

                    &.item-left{
                        h4,span:not(.infografic_item span){
                            text-align:right;
                        }

                        .text_content_infografic{
                            justify-content: flex-end;
                        }

                        .text_content_infoimages{
                            justify-content: flex-end;
                        }


                    }

                }

            }

        }

        &.reverse-mobile{
            @media (max-width:$breakpoint768){
                flex-direction: column-reverse;
            } 
        }

    }
}
